<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>嗨加游</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1, user-scalable=no,minimal-ui">
<meta name="renderer" content="webkit">
<meta name="apple-mobile-web-app-title" content="嗨加游">
<meta name="full-screen" content="yes">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" href="assets/i/favicon.png">
<link rel="stylesheet" href="/assets/css/amazeui.min.css">
<link rel="stylesheet" href="/assets/css/app.css">