<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>乐圈</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" href="assets/i/favicon.png">
<link rel="stylesheet" href="/assets/css/amazeui.min.css">
<link rel="stylesheet" href="/assets/css/app.css">
</head>
<body>
<!-- Header -->
<header data-am-widget="header" class="am-header am-header-default">
  <h1 class="am-header-title"> <a href="#title-link">乐圈</a> </h1>
  <div class="am-header-right am-header-nav"> <a href="fabu.html"  > <img src="/assets/images/fabu.png"> </a> </div>
</header>
乐圈
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default "
     id="">
  <ul class="am-navbar-nav am-cf am-avg-sm-4">
    <li> <a href="lequan.html"> <span><img src="/assets/images/saiyouquan-select.png"></span> <span class="am-navbar-label" style="color:#0e99ca">乐圈 </span> </a> </li>
    <li> <a href="faxian.html"> <span ><img src="/assets/images/faxian.png"></span> <span class="am-navbar-label">发现</span> </a> </li>
    <li class="sle"> <a href="index.html"><img src="/assets/images/yuesai.png" width="80" border="0"></a> </li>
    <li> <a href="xiaoxi.html"> <span><img src="/assets/images/ems.png"></span> <span class="am-navbar-label">消息</span> </a> </li>
    <li> <a href="login.html"> <span><img src="/assets/images/my.png"></span> <span class="am-navbar-label">我的</span> </a> </li>
  </ul>
</div>
<script src="http://wx.haijiayou.com/me/public/assets/js/jquery.min.js"></script>
<script src="http://wx.haijiayou.com/me/public/assets/js/amazeui.min.js"></script>
<style>
li.sle a img{ width:80px; height:40px;}
</style>
</body>
</html>
