<!doctype html>
<html class="no-js">
<head>{template h5/common/header}

</head>
<body>
<header data-am-widget="header"
        class="am-header am-header-default">
    <div class="am-header-left am-header-nav">
        <div align="center"><a href="javascript:history.go(-1)" class=""> <img src="/assets/images/jtou.png"/> </a>
        </div>
    </div>
    <h1 align="center" class="am-header-title"> 详细比分 </h1>
</header>
<!-- Menu -->

<table class="am-table am-table-bordered am-table-radius am-table-striped">
    {loop $list $row}
    <tr>
        <td>{$row->category_as_less}
       

            VS


            {$row->category_bs_less}
        </td>
        <td>
            {$row->win_a_count}


            :


            {$row->win_b_count}
        </td>
    </tr>
    {/loop}
</table>

{template h5/common/footer}
<script src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.cookie.js"></script>
<script src="/assets/js/amazeui.min.js"></script>
<script type="text/javascript">

</script>
</body>
</html>
