<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>队员管理</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" href="assets/i/favicon.png">
<link rel="stylesheet" href="/assets/css/amazeui.min.css">
<link rel="stylesheet" href="/assets/css/app.css">
<link rel="stylesheet" href="http://s.amazeui.org/assets/2.x/css/amaze.min.css?v=ifp65slu">
<style>

.am-list {
    margin-bottom: 0rem;
    padding-left: 0px;
}
 .am-list>li {
  position: relative;
  display: block;
  margin-bottom: -1px;
  background-color: #fff;   border-bottom: 1px solid #dedede;
    
}
</style>
</head>
<body>
<div align="center">
  <!-- Header -->
</div>
<header data-am-widget="header"
          class="am-header am-header-default">
  <div class="am-header-left am-header-nav">
    <div align="center"><a href="javascript:history.go(-1)" class=""> <img  src="/assets/images/jtou.png"/> </a> </div>
  </div>
  <h1 align="center" class="am-header-title"> 队员管理 </h1>
</header>
<div data-am-widget="tabs"
       class="am-tabs am-tabs-default"
        >
  <ul class="am-tabs-nav am-cf">
    <li class="am-active"><a href="[data-tab-panel-0]">队员列表</a></li>
    <li class=""><a href="[data-tab-panel-1]">队伍列表</a></li>
  </ul>
  <div class="am-tabs-bd">
    <div data-tab-panel-0 class="am-tab-panel am-active"> <a href="newduiyuan.html">
      <button type="submit" class="am-btn am-btn-default" style="  border:none; text-align:right; height:40px; ">新增队员</button>
      </a>
      <div data-am-widget="list_news" class="am-list-news am-list-news-default" >
        <div class="am-list-news-bd">
          <ul class="am-list" style="border-top:none">
            <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left" style="width:100%">
              <div class="rightlist">
                <h3 class="am-list-item-hd">王璐璐.女</h3>
                <div class="am-list-item-text">电话：15845123541</div>
                <div class="am-list-item-text">身份证：12444444444443541</div>
              </div>
              <div class="rightlistw"> <span class="guanzhu">编辑</span><br>
                <span class="guanzhu">删除</span> </div>
            </li>
            <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left" style="width:100%">
              <div class="rightlist">
                <h3 class="am-list-item-hd">王璐璐.女</h3>
                <div class="am-list-item-text">电话：15845123541</div>
                <div class="am-list-item-text">身份证：12444444444443541</div>
              </div>
              <div class="rightlistw"> <span class="guanzhu">编辑</span><br>
                <span class="guanzhu">删除</span> </div>
            </li>
            <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left" style="width:100%">
              <div class="rightlist">
                <h3 class="am-list-item-hd">王璐璐.女</h3>
                <div class="am-list-item-text">电话：15845123541</div>
                <div class="am-list-item-text">身份证：12444444444443541</div>
              </div>
              <div class="rightlistw"> <span class="guanzhu">编辑</span><br>
                <span class="guanzhu">删除</span> </div>
            </li>
            <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left" style="width:100%">
              <div class="rightlist">
                <h3 class="am-list-item-hd">王璐璐.女</h3>
                <div class="am-list-item-text">电话：15845123541</div>
                <div class="am-list-item-text">身份证：12444444444443541</div>
              </div>
              <div class="rightlistw"> <span class="guanzhu">编辑</span><br>
                <span class="guanzhu">删除</span> </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div data-tab-panel-1 class="am-tab-panel ">
      <div class="am-panel-group"  id="accordion">
        <div class="am-panel am-panel-default">
          <div class="am-panel-hd">
            <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-1'}"> 上海羽毛球队<span style="float:right; color:#999; font-size:14px;">成员&nbsp;></span></h4>
          </div>
          <div id="do-not-say-1" class="am-panel-collapse am-collapse">
            <div class="am-panel-bd">
              <div class="am-g">
                <div class="am-u-sm-3 lineright">队长</div>
                <div class="am-u-sm-6 lineleft">王丽玲，男</div>
                <div class="am-u-sm-3 lineleft">编辑</div>
                <div class="am-u-sm-3 lineright">队员</div>
                <div class="am-u-sm-6 lineleft">李利落，女</div>
                <div class="am-u-sm-3 lineleft">编辑</div>
                <div class="am-u-sm-3 lineright">队员</div>
                <div class="am-u-sm-6 lineleft">李利落，女</div>
                <div class="am-u-sm-3 lineleft">编辑</div>
                <div class="am-u-sm-3 lineright">队员</div>
                <div class="am-u-sm-6 lineleft">李利落，女</div>
                <div class="am-u-sm-3 lineleft">编辑</div>
                <div class="am-u-sm-3 lineright">队员</div>
                <div class="am-u-sm-6 lineleft">李利落，女</div>
                <div class="am-u-sm-3 lineleft">编辑</div>
              </div>
            </div>
          </div>
        </div>
        <div class="am-panel am-panel-default">
          <div class="am-panel-hd">
            <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-2'}"> 上海普陀区羽毛球队<span style="float:right; color:#999; font-size:14px;">成员&nbsp;></span></h4>
          </div>
          <div id="do-not-say-2" class="am-panel-collapse am-collapse">
            <div class="am-panel-bd">
              <div class="am-g">
                <div class="am-u-sm-3 lineright">队长</div>
                <div class="am-u-sm-6 lineleft">王丽玲，男</div>
                <div class="am-u-sm-3 lineleft">编辑</div>
                <div class="am-u-sm-3 lineright">队员</div>
                <div class="am-u-sm-6 lineleft">李利落，女</div>
                <div class="am-u-sm-3 lineleft">编辑</div>
                <div class="am-u-sm-3 lineright">队员</div>
                <div class="am-u-sm-6 lineleft">李利落，女</div>
                <div class="am-u-sm-3 lineleft">编辑</div>
                <div class="am-u-sm-3 lineright">队员</div>
                <div class="am-u-sm-6 lineleft">李利落，女</div>
                <div class="am-u-sm-3 lineleft">编辑</div>
                <div class="am-u-sm-3 lineright">队员</div>
                <div class="am-u-sm-6 lineleft">李利落，女</div>
                <div class="am-u-sm-3 lineleft">编辑</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="am-panel am-panel-default">
        <div class="am-panel-hd">
          <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-3'}"> 上海徐家汇羽毛球队<span style="float:right; color:#999; font-size:14px;">成员&nbsp;></span></h4>
        </div>
        <div id="do-not-say-3" class="am-panel-collapse am-collapse">
          <div class="am-panel-bd">
            <div class="am-g">
              <div class="am-u-sm-3 lineright">队长</div>
              <div class="am-u-sm-6 lineleft">王丽玲，男</div>
              <div class="am-u-sm-3 lineleft">编辑</div>
              <div class="am-u-sm-3 lineright">队员</div>
              <div class="am-u-sm-6 lineleft">李利落，女</div>
              <div class="am-u-sm-3 lineleft">编辑</div>
              <div class="am-u-sm-3 lineright">队员</div>
              <div class="am-u-sm-6 lineleft">李利落，女</div>
              <div class="am-u-sm-3 lineleft">编辑</div>
              <div class="am-u-sm-3 lineright">队员</div>
              <div class="am-u-sm-6 lineleft">李利落，女</div>
              <div class="am-u-sm-3 lineleft">编辑</div>
              <div class="am-u-sm-3 lineright">队员</div>
              <div class="am-u-sm-6 lineleft">李利落，女</div>
              <div class="am-u-sm-3 lineleft">编辑</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default "
     id="">
  <ul class="am-navbar-nav am-cf am-avg-sm-4">
    <li> <a href="lequan.html"> <span><img src="/assets/images/saiyouquan.png"></span> <span class="am-navbar-label">乐圈 </span> </a> </li>
    <li> <a href="faxian.html"> <span ><img src="/assets/images/faxian.png"></span> <span class="am-navbar-label">发现</span> </a> </li>
    <li class="sle"> <a href="index.html"><img src="/assets/images/yuesai.png" width="80" border="0"></a> </li>
    <li> <a href="xiaoxi.html"> <span><img src="/assets/images/ems.png"></span> <span class="am-navbar-label">消息</span> </a> </li>
    <li> <a href="login.html"> <span><img src="/assets/images/my.png"></span> <span class="am-navbar-label">我的</span> </a> </li>
  </ul>
</div>
<script src="http://wx.haijiayou.com/me/public/assets/js/jquery.min.js"></script>
<script src="http://wx.haijiayou.com/me/public/assets/js/amazeui.min.js"></script>
<style>
li.sle a img{ width:80px; height:40px;}
</style>
</body>
</html>
