<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>用户中心-修改</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" href="assets/i/favicon.png">
<link rel="stylesheet" href="assets/css/amazeui.min.css">
<link rel="stylesheet" href="assets/css/app.css">
<link rel="stylesheet" href="http://s.amazeui.org/assets/2.x/css/amaze.min.css?v=ifp65slu">
</head>
<body>
<div align="center">
  <!-- Header -->
</div>
<header data-am-widget="header"
          class="am-header am-header-default">
  <div class="am-header-left am-header-nav">
    <div align="center"><a href="javascript:history.go(-1)" class=""> <img  src="assets/images/jtou.png"/> </a> </div>
  </div>
  <h1 class="am-header-title"> 用户中心-修改 </h1>
  <div class="am-header-right am-header-nav"> <img src="assets/images/search-vector.png" > </div>
</header>
<!-- Menu -->
<div class="am-container" style=" width:100%; padding:0px; margin:0px;">
 
 <style>
input.noborder{ border:none}
 </style>
 
 <form class="am-form am-form-horizontal">
 
 
  <div class="am-form-group bottomline">
    <label for="doc-ipt-3" class="am-u-sm-3 am-form-label">头像</label>
    <div class="am-u-sm-9" style=" text-align:center">
       <img src="assets/images/tx.jpg" width="60p" height="60" class="am-circle">
    </div>
  </div>
 
     
  <div class="am-form-group bottomline">
    <label for="doc-ipt-3" class="am-u-sm-3 am-form-label">姓名</label>
    <div class="am-u-sm-9">
      <input type="text" id="doc-ipt-3" class="noborder"  placeholder="输入你的姓名">
    </div>
  </div>

  <div class="am-form-group bottomline">
    <label for="doc-ipt-pwd-2" class="am-u-sm-3 am-form-label">手机号码</label>
    <div class="am-u-sm-9 noborder">
      <input type="text" id="doc-ipt-pwd-2"  placeholder="18918163480">
    </div>
  </div>
  
  <div class="am-form-group bottomline">
    <label for="doc-ipt-pwd-2" class="am-u-sm-3 am-form-label">身份证</label>
    <div class="am-u-sm-9">
      <input type="text" id="doc-ipt-pwd-2" class="noborder" placeholder="输入你的身份证 ">
    </div>
  </div>
  
  <div class="am-form-group"> <label for="doc-ipt-pwd-2" class="am-u-sm-3 am-form-label">性别</label>
      <label class="am-radio-inline">
        <input type="radio"  value="" name="docInlineRadio"> 男
      </label>
      <label class="am-radio-inline">
        <input type="radio" name="docInlineRadio">女
      </label> 
    </div>
	    
 
  <div class="am-form-group">
    <div class="am-u-sm-10 am-u-sm-offset-1">
      <button type="submit" class="am-btn am-btn-primary am-round" style="width:100%;margin:auto%">修改</button>
    </div>
  </div>																																						
</form>
 
 
 
 
 
 
 
 
 
 
 
 
</div>
 
 
<!-- Footer -->
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default "
     id="">
  <ul class="am-navbar-nav am-cf am-avg-sm-4">
    <li>
      <a href="index.html"> <span><img src="assets/images/saiyouquan.png"></span> <span class="am-navbar-label">首页

</span>
      </a>
    </li>
    <li>
      <a href="faxian.html">
        <span ><img src="assets/images/faxian.png"></span>
        <span class="am-navbar-label">发现</span>
      </a>
    </li>    
	<li class="sle"> <a href="activy-list.html"><img src="assets/images/yuesai.png" width="80" border="0"></a> </li>
    <li>
      <a href="xiaoxi.html">
        <span><img src="assets/images/ems.png"></span>
        <span class="am-navbar-label">消息</span>
      </a>
    </li>
    <li>
      <a href="login.html">
        <span><img src="assets/images/my.png"></span>
        <span class="am-navbar-label">我的</span>
      </a>
    </li>
     
  </ul>
</div>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/amazeui.min.js"></script><style>li.sle a img{ width:80px; height:40px;}</style>
</body>
</html>
