<!doctype html>
<html class="no-js">

<head>
    {template h5/common/header}
    <style>
        .am-list {
            margin-bottom: 0rem;
            padding-left: 0px;
        }

        .am-list>li {
            position: relative;
            display: block;
            margin-bottom: -1px;
            background-color: #fff;
            border-bottom: 1px solid #dedede;
        }
    </style>
</head>

<body>
<div align="center">
    <!-- Header -->
</div>
<header data-am-widget="header" class="am-header am-header-default">
    <div class="am-header-left am-header-nav">
        <div align="center">
            <a href="javascript:history.go(-1)" class=""> <img src="/assets/images/jtou.png" /> </a>
        </div>
    </div>
    <h1 align="center" class="am-header-title"> 排行榜 </h1>
</header>

{template h5/common/footer}
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/amazeui.min.js"></script>
<style>
    li.sle a img {
        width: 80px;
        height: 40px;
    }
</style>
</body>

</html>
