<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>赛场风采</title>
    <!-- Bootstrap -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div>
    <!--<button type="button" class="btn btn-danger" style="width: 80px;" onclick="javascript:history.go(-1)">返回</button>-->
    <h1 class="text-center">赛场风采</h1>
    {loop $files $file}
    {if in_array($file->type,['png','PNG','jpg','JPG','gif','GIF','JPEG','jpeg'])}
    <img src="{$file->url}" width="100%">
    {else}
    <video width="100%" height="100%" controls="controls">
        <source src="{$file->url}" type="video/{$file->type}">
    </video>
    {/if}
    {/loop}
</div>
</body>
</html>