<!doctype html>
<html class="no-js">
<head>{template h5/common/header}
</head>
<body>
<a href="/h5/activity/show/{$activity_id}">返回</a>   
<br>
<form action="/h5/activity/join_four" method="post">
	<br>队伍名称:{$club_info->name} 俱乐部-
<input type="text" name="team_name"  value=""/><br>
	队员(至少提交8名队员):<br>
{loop $list $v}
 {$v->mem_name}<input name="person[]" type="checkbox" value="{$v->user_team_member_id}"   >
{/loop}

<input type="hidden" name="activity_id"  value="{$activity_id}"/>
<input type="hidden" name="club_name"  value="{$club_info->name}"/><br>
  <input type="submit" value="提交" />
</form>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/amazeui.min.js"></script>
</body>
</html>
