<!doctype html>
<html class="no-js">

<head>
    {template h5/common/header}
</head>

<body>
    <!-- Header -->
    <header data-am-widget="header" class="am-header am-header-default">
        <h1 class="am-header-title"> 发现 </h1>
        <div class="am-header-right am-header-nav">
            <a href="fabu.html"> <img src="/assets/images/fabu.png"> </a>
        </div>
    </header>
    <div class="am-comment">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="33%" height="50" align="center">活动</td>
                <td width="33%" height="50" align="center">俱乐部</td>
                <td width="33%" height="50" align="center">积分</td>
            </tr>
            <tr>
                <td width="33%" height="50" align="center">抽奖</td>
            </tr>
        </table>
    </div>

    {template h5/common/footer}
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/amazeui.min.js"></script>
    <style>
    li.sle a img {
        width: 80px;
        height: 40px;
    }
    </style>
</body>

</html>
