<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>俱乐部</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" href="assets/i/favicon.png">
<link rel="stylesheet" href="/assets/css/amazeui.min.css">
<link rel="stylesheet" href="/assets/css/app.css">
<link rel="stylesheet" href="http://s.amazeui.org/assets/2.x/css/amaze.min.css?v=ifp65slu">
</head>
<body>
<div align="center">
  <!-- Header -->
</div>
<header data-am-widget="header"
          class="am-header am-header-default">
  <div class="am-header-left am-header-nav">
    <div align="center"><a href="javascript:history.go(-1)" class=""> <img  src="/assets/images/jtou.png"/> </a> </div>
  </div>
  <h1 align="center" class="am-header-title"> 俱乐部 </h1>
  <div class="am-header-right am-header-nav"> <a href="fabu.html"  > <img src="/assets/images/fabu.png"> </a> </div>
</header>
<!-- Slider -->
<div data-am-widget="slider" class="am-slider am-slider-a1" data-am-slider='{&quot;directionNav&quot;:false}'>
  <ul class="am-slides">
    <li> <img src="/assets/images/as.jpg" > </li>
    <li> <img src="/assets/images/as.jpg" > </li>
    <li> <img src="/assets/images/as.jpg" > </li>
    <li> <img src="/assets/images/as.jpg" > </li>
  </ul>
</div>
<div style="width:100%; float:left; margin-left:-2%;">
  <div data-am-widget="tabs" class="am-tabs am-tabs-d2" style="width:100%; float:left">
    <ul class="am-tabs-nav am-cf">
      <li class="am-active"><a href="[data-tab-panel-0]">活动列表</a></li>
      <li class=""><a href="[data-tab-panel-1]">精彩展示</a></li>
      <li class=""><a href="[data-tab-panel-2]">交流互动</a></li>
    </ul>
    <div class="am-tabs-bd">
      <div data-tab-panel-0 class="am-tab-panel am-active">
        <div class="am-comment" style="border-bottom:1px solid #ddd; padding-bottom:20px;" >
          <table width="96%" align="center" height="30" border="0" cellspacing="0" cellpadding="0" >
            <tr>
              <td><strong>2015年徒步活动比赛</strong></td>
              <td align="rigth"><div class="bmbtn">报名中</div></td>
            </tr>
          </table>
          <img src="/assets/images/as.jpg" width="100%" style="margin-bottom:10px;" />
          <div class="am-gallery-desc bms" > 报名：2015-04-26至2015-11-18</div>
          <div class="am-gallery-desc bms" >比赛：上海市徐家汇体育馆</div>
          <div class="am-comment" style="border-bottom:1px solid #ddd; padding-bottom:20px;" >
            <table width="96%" align="center" height="30" border="0" cellspacing="0" cellpadding="0" >
              <tr>
                <td><strong>2015年徒步活动比赛</strong></td>
                <td align="rigth"><div class="bmbtn">报名中</div></td>
              </tr>
            </table>
            <img src="/assets/images/as.jpg" width="100%" style="margin-bottom:10px;" />
            <div class="am-gallery-desc bms" > 报名：2015-04-26至2015-11-18</div>
            <div class="am-gallery-desc bms" >比赛：上海市徐家汇体育馆</div>
          </div>
          <div class="am-comment" style="border-bottom:1px solid #ddd; padding-bottom:20px;" >
            <table width="96%" align="center" height="30" border="0" cellspacing="0" cellpadding="0" >
              <tr>
                <td><strong>2015年徒步活动比赛</strong></td>
                <td align="rigth"><div class="bmbtn">报名中</div></td>
              </tr>
            </table>
            <img src="/assets/images/as.jpg" width="100%" style="margin-bottom:10px;" />
            <div class="am-gallery-desc bms" > 报名：2015-04-26至2015-11-18</div>
            <div class="am-gallery-desc bms" >比赛：上海市徐家汇体育馆</div>
          </div>
          <div class="am-comment" style="border-bottom:1px solid #ddd; padding-bottom:20px;" >
            <table width="96%" align="center" height="30" border="0" cellspacing="0" cellpadding="0" >
              <tr>
                <td><strong>2015年徒步活动比赛</strong></td>
                <td align="rigth"><div class="bmbtn">报名中</div></td>
              </tr>
            </table>
            <img src="/assets/images/as.jpg" width="100%" style="margin-bottom:10px;" />
            <div class="am-gallery-desc bms" > 报名：2015-04-26至2015-11-18</div>
            <div class="am-gallery-desc bms" >比赛：上海市徐家汇体育馆</div>
          </div>
        </div>
      </div>
      <div data-tab-panel-1 class="am-tab-panel "> </div>
      <div data-tab-panel-2 class="am-tab-panel "> 【歌唱】那时候有多好，任雨打湿裙角。忍不住哼起，心爱的旋律。绿油油的树叶，自由地在说笑。燕子忙归巢，风铃在舞蹈。经过青春的草地，彩虹忽然升起。即使视线渐渐模糊，它也在我心里。就像爱过的旋律，没人能抹去。因为生命存在失望，歌唱，所以才要歌唱。 </div>
    </div>
  </div>
</div>
<!-- Footer -->
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default "
     id="">
  <ul class="am-navbar-nav am-cf am-avg-sm-4">
    <li> <a href="lequan.html"> <span><img src="/assets/images/saiyouquan.png"></span> <span class="am-navbar-label">乐圈 </span> </a> </li>
    <li> <a href="faxian.html"> <span ><img src="/assets/images/faxian.png"></span> <span class="am-navbar-label">发现</span> </a> </li>
    <li class="sle"> <a href="index.html"><img src="/assets/images/yuesai.png" width="80" border="0"></a> </li>
    <li> <a href="xiaoxi.html"> <span><img src="/assets/images/ems.png"></span> <span class="am-navbar-label">消息</span> </a> </li>
    <li> <a href="login.html"> <span><img src="/assets/images/my.png"></span> <span class="am-navbar-label">我的</span> </a> </li>
  </ul>
</div>
<script src="http://wx.haijiayou.com/me/public/assets/js/jquery.min.js"></script>
<script src="http://wx.haijiayou.com/me/public/assets/js/amazeui.min.js"></script>
<style>
li.sle a img{ width:80px; height:40px;}
</style>
</body>
</html>
