<!doctype html>
<html class="no-js">
<head>
<title>嗨加游</title>
{template h5/common/header}
</head>
<body>
<style>.am-gallery-item img {height: 200px;}</style>
<!-- Header -->
<header data-am-widget="header" class="am-header am-header-default">
    <h1 class="am-header-title"><a href="#title-link">嗨加游</a></h1>
		
    <nav data-am-widget="menu" class="am-menu  am-menu-dropdown1" data-am-menu-collapse>
        <a href="javascript: void(0)" class="am-menu-toggle">
            <img src="/assets/images/fabu.png">
        </a>

 <ul class="am-menu-nav am-avg-sm-1 am-collapse">
            <li>
                <a href="/h5/member/activity/create" class="">双鹿鏖战</a></li>
            <li>
                <a href="/h5/member/activity/create_specail" class="">纵横四海</a></li>
            <li>
                <a href="/h5/member/club/create" class="">创建俱乐部</a>
            </li>

        </ul> 
		
		  
    </nav>

</header>
 
 
  <div><a href="http://www.haijiayou.com/t35a.html"><img src="/assets/images/sjdsai.jpg" width="100%" border="0"></a></div>
 <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="39%"><a href="http://www.haijiayou.com/t35a.html"><img src="/assets/images/ling1.jpg" width="100%"></a></td>
    <td colspan="2"><img src="/assets/images/ling2.jpg" width="100%"></td>
    </tr>
  <tr>
    <td width="40%"><img src="/assets/images/ling3.jpg" width="100%"></td>
    <td width="30%"><a href="http://www.haijiayou.com/Activity/actlist.html?leibie=桥牌"><img src="/assets/images/ling4.jpg" width="100%"></a></td>
    <td width="30%"><a href="http://www.haijiayou.com/Sports/jkzp.html?from=singlemessage&isappinstalled=0"><img src="/assets/images/ling5.jpg" width="100%"></a></td>
  </tr>
</table>

 <div style="border-top:10px #f0f0f0 solid; margin-bottom:10px;"><a href="http://www.haijiayou.com/t35a.html"><img src="/assets/images/ydhui.jpg" width="100%" border="0"></a></div>
 
 
 <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center"><img src="/assets/images/pw1.jpg" ></td>
       <td align="center"><a href="http://www.haijiayou.com/Activity/actlist.html?leibie=乒乓球"><img src="/assets/images/pw2.jpg" ></a></td>
      <td align="center"><a href="http://www.haijiayou.com/Activity/actlist.html?leibie=篮球"><img src="/assets/images/pw3.jpg" ></a></td>
       <td align="center"><img src="/assets/images/pw4.jpg" ></td>
  </tr>
  <tr>
    <td height="40" align="center">排舞</td>
    <td height="40" align="center"><a href="http://www.haijiayou.com/Activity/actlist.html?leibie=乒乓球">乒乓球</a></td>
    <td height="40" align="center"><a href="http://www.haijiayou.com/Activity/actlist.html?leibie=篮球">篮球</a></td>
    <td height="40" align="center">定向活动</td>
  </tr>
  <tr>
    <td align="center"><img src="/assets/images/pw5.jpg" ></td>
       <td align="center"><a href="http://www.haijiayou.com/Activity/actlist.html?leibie=足球"><img src="/assets/images/pw6.jpg" ></a></td>
      <td align="center"><a href="http://www.haijiayou.com/Activity/actlist.html?leibie=钓鱼"><img src="/assets/images/pw7.jpg" ></a></td>
       <td align="center"><img src="/assets/images/pw8.jpg" ></td>
  </tr>
  <tr>
    <td height="40" align="center">骑游</td>
    <td height="40" align="center"><a href="http://www.haijiayou.com/Activity/actlist.html?leibie=足球">足球</a></td>
    <td height="40" align="center"><a href="http://www.haijiayou.com/Activity/actlist.html?leibie=钓鱼">钓鱼</a></td>
    <td height="40" align="center">家庭游泳</td>
  </tr>
</table>

 
 <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="50%" rowspan="2"><a href="http://www.haijiayou.com/Sports/jiankangyizhan.html"><img src="/assets/images/jkyz.jpg"  width="100%"></a></td>
    <td><img src="/assets/images/pxfw.jpg" width="100%"></td>
  </tr>
  <tr>
    <td><a href="http://www.haijiayou.com/Sports/jingcaipinduan.html"><img src="/assets/images/jchguo.jpg"  width="100%"></a></td>
  </tr>
</table>

 
 
 <div style="height:50px;"></div>
 
  

 
 
</div> 
  
  
  
  
  
  
  
  
  
 
  
  
</div>
  </div></div>
 
 
 
 
 
 
 
 
 
 
 {template h5/common/footer-home}
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/amazeui.min.js"></script>
<style>
    li.sle a img {
        width: 80px;
        height: 40px;
    }

    .am-comment {
        background: #fff;
    }
</style>


<!--<div style="width: 104%; height: 8px; background: rgba(167, 167, 167, 0.77) none repeat scroll 0% 0%; margin: 5px -10px;"></div>
                <!--<div class="am-g" style="border:none; width:100%; padding:0px; margin:0px;">
                    <div class="am-gallery-desc bms">
                        <a href="/h5/activity/show/{$row->id}"> <img src="/assets/images/time.png" width="18">{$row->start_time}-{$row->end_time}</a>
                    </div>
                    <div class="am-gallery-desc bms">
                        <a href="/h5/activity/show/{$row->id}"><img src="/assets/images/dizhi.png" width="18">{$row->postion}</a>
                    </div>
                    {if $row->status=='报名中'}
                    <a href="/h5/activity/join?activity_id={$row->id}">
                        <div class="bming">报名</div>
                    </a>
                    {/if}
                </div>
                <div class="grayline5"></div>-->
<!--<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="font-size:80%">
    <tr>
        <td align="center" width="33%">已报名
            <br> {$row->join_count}人
        </td>
        <td align="center" style="border-left:1px solid #ddd;border-right:1px solid #ddd;" width="33%">总人数
            <br> {$row->people_count}人
        </td>
        <td align="center" width="33%">倒计时
            <br>
            <div class="time"> <span id="t_d{$row->id}">00天</span> <span id="t_h{$row->id}">00时</span> <span id="t_m{$row->id}">00分</span> <!--<span id="t_s{$row->id}">00秒</span></div>
            <script>
            function GetRTime() {
                var EndTime = new Date("{$row->start_time}");
                var NowTime = new Date();
                var t = EndTime.getTime() - NowTime.getTime();
                var d = 0;
                var h = 0;
                var m = 0;
                var s = 0;
                if (t >= 0) {
                    d = Math.floor(t / 1000 / 60 / 60 / 24);
                    h = Math.floor(t / 1000 / 60 / 60 % 24);
                    m = Math.floor(t / 1000 / 60 % 60);
                    s = Math.floor(t / 1000 % 60);
                }


                document.getElementById("t_d{$row->id}").innerHTML = d + "天";
                document.getElementById("t_h{$row->id}").innerHTML = h + "时";
                document.getElementById("t_m{$row->id}").innerHTML = m + "分";
                document.getElementById("t_s{$row->id}").innerHTML = s + "秒";
            }
            setInterval(GetRTime, 0);
            </script>
        </td>
    </tr>
</table>-->
</body>

</html>
