<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Amaze UI Widget</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" href="assets/i/favicon.png">
<link rel="stylesheet" href="http://wx.haijiayou.com/me/public/assets/css/amazeui.min.css">
<link rel="stylesheet" href="http://wx.haijiayou.com/me/public/assets/css/app.css">
</head>
<body>
<!-- Header -->
<header data-am-widget="header" class="am-header am-header-default">
  <div class="am-header-left am-header-nav">
    <div align="center"><a href="javascript:history.go(-1)" class=""> <img  src="http://wx.haijiayou.com/me/public/assets/images/jtou.png"/> </a> </div>
  </div>
  <h1 class="am-header-title"> <a href="#title-link">益乐赛</a> </h1>
  <div class="am-header-right am-header-nav"> <a href="fabu.html"  > <img src="http://wx.haijiayou.com/me/public/assets/images/fabu.png"> </a> </div>
</header>
<style>
.am-g{ padding:10px;}

</style>
<div data-am-widget="list_news" class="am-list-news am-list-news-default" >
  <!--列表标题-->
  <div class="am-list-news-bd" style="width:100%;">
    <ul data-am-widget="gallery" class="am-gallery am-avg-sm-0  am-gallery-overlay"  style="border:none" data-am-gallery="{ pureview: true }">
      {loop $list $row}
      
      
      {$row->id}
      
      
      {/loop}
      <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-bottom-right">
        <div class="am-gallery-item"> <a href="#" class=""> <img src="http://wx.haijiayou.com/me/public/assets/images/ces.png"  alt=" "/>
          <h3 class="am-gallery-title">我最喜欢的一张画</h3>
          </a> </div>
        <div class="am-g jfline" style="border-bottom:1px solid #ddd; padding-bottom:5px; margin-bottom:8px;">
          <div class=" am-u-sm-9 am-list-main">
            <div class="am-list-item-text">你最喜欢的艺术作品，告诉大家它们的------名图画，色彩，交织，</div>
          </div>
          <div class="am-list-thumb am-u-sm-3"> <a href="#" class=""> <img src="http://img3.douban.com/lpic/o637240.jpg" width="60" height="60"  /> </a> </div>
        </div>
        <div class="am-g jfline">
          <div class=" am-u-sm-9 am-list-main">
            <div class="am-list-item-text">你最喜欢的艺术作代古代现代画群296795413进群发画，少说多发图，</div>
          </div>
          <div class="am-list-thumb am-u-sm-3"> <a href="#" class=""> <img src="http://img3.douban.com/lpic/o637240.jpg"  width="60" height="60" alt="我最喜欢的一张画"/> </a> </div>
        </div>
      </li>
      <div class="grayline1"></div>
      <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-bottom-right">
        <div class="am-gallery-item"> <a href="#" class=""> <img src="http://wx.haijiayou.com/me/public/assets/images/ces.png"  alt=" "/>
          <h3 class="am-gallery-title">我最喜欢的一张画</h3>
          </a> </div>
        <div class="am-g jfline" style="border-bottom:1px solid #ddd; padding-bottom:5px; margin-bottom:8px;">
          <div class="am-u-sm-9 am-list-main">
            <div class="am-list-item-text">你最喜欢的艺 代现代作品的照片美我最喜欢的画群296795413进群发画，少说多发图，</div>
          </div>
          <div class="am-list-thumb am-u-sm-3"> <a href="#" class=""> <img src="http://img3.douban.com/lpic/o637240.jpg" width="60" height="60"  /> </a> </div>
        </div>
        <div class="am-g jfline">
          <div class="am-u-sm-9 am-list-main">
            <div class="am-list-item-text">你最喜欢的艺 色，线条雕塑装置当代古代现代作品的照片美我最喜欢的画群296795413进群发画，少说多发图，</div>
          </div>
          <div class="am-list-thumb am-u-sm-3"> <a href="#" class=""> <img src="http://img3.douban.com/lpic/o637240.jpg"  width="60" height="60" alt="我最喜欢的一张画"/> </a> </div>
        </div>
      </li>
      <div class="grayline1"></div>
      <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-bottom-right">
        <div class="am-gallery-item"> <a href="#" class=""> <img src="http://wx.haijiayou.com/me/public/assets/images/ces.png"  alt=" "/>
          <h3 class="am-gallery-title">我最喜欢的一张画</h3>
          </a> </div>
        <div class="am-g jfline" style="border-bottom:1px solid #ddd; padding-bottom:5px; margin-bottom:8px;">
          <div class=" am-u-sm-9 am-list-main">
            <div class="am-list-item-text">你最喜欢的艺术作品，告诉大家它们的------名图画，色彩，交织，撞色，线条雕塑装置当代古代现代作品的照片美我最喜欢的画群296795413进群发画，少说多发图，</div>
          </div>
          <div class="am-list-thumb am-u-sm-3"> <a href="#" class=""> <img src="http://img3.douban.com/lpic/o637240.jpg" width="60" height="60"  /> </a> </div>
        </div>
        <div class="am-g jfline">
          <div class=" am-u-sm-9 am-list-main">
            <div class="am-list-item-text">你最喜欢的艺术作品，告诉大家它们的------名图画，色彩，交织，撞色，线条雕塑装置当代古代现代作品的照片美我最喜欢的画群296795413进群发画，少说多发图，</div>
          </div>
          <div class="am-list-thumb am-u-sm-3"> <a href="#" class=""> <img src="http://img3.douban.com/lpic/o637240.jpg"  width="60" height="60" alt="我最喜欢的一张画"/> </a> </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- Footer -->
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default "
     id="">
  <ul class="am-navbar-nav am-cf am-avg-sm-4">
    <li> <a href="lequan.html"> <span><img src="http://wx.haijiayou.com/me/public/assets/images/saiyouquan.png"></span> <span class="am-navbar-label">乐圈 </span> </a> </li>
    <li> <a href="faxian.html"> <span ><img src="http://wx.haijiayou.com/me/public/assets/images/faxian.png"></span> <span class="am-navbar-label">发现</span> </a> </li>
    <li class="sle"> <a href="http://wx.haijiayou.com/me/public/h5/home/index"><img src="http://wx.haijiayou.com/me/public/assets/images/yuesai.png" width="80" border="0"></a> </li>
    <li> <a href="xiaoxi.html"> <span><img src="http://wx.haijiayou.com/me/public/assets/images/ems.png"></span> <span class="am-navbar-label">消息</span> </a> </li>
    <li> <a href="login.html"> <span><img src="http://wx.haijiayou.com/me/public/assets/images/my.png"></span> <span class="am-navbar-label">我的</span> </a> </li>
  </ul>
</div>
<script src="http://wx.haijiayou.com/me/public/assets/js/jquery.min.js"></script>
<script src="http://wx.haijiayou.com/me/public/assets/js/amazeui.min.js"></script>
<style>
li.sle a img{ width:80px; height:40px;}
</style>
</body>
</html>
